*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    height: 100%;

} 
#main {
    height: 100%;
    width: 100%;
    /* background-color: gray; */
}
#nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 20px;
   padding: 0 30px;
}
#nav h4{
    font-size: 20px;
    font-weight: 600;

}
#nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 600;
}
#center{
    /* height: 40%; */
    width: 100%;
    /* background-color: red; */
    padding: 40px 50px;
}
#center h1{
    font-size: 40px;
    /* font-weight: 500; */
    line-height: 60px;
}
#center-in{
    height: 200px;
    /* background-color: red; */
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#center-in p{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
#right{
    width: 20%;
}
.elem{
    /* background-color: yellow; */
    margin: 5px;
    padding: 18px 0;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
}
.elem i{
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
}
.elem:hover i{
    opacity: 1;
}
.elem:hover{
    background-color:rgb(234, 230, 230) ;
}
.elem a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
.elem:hover a{
    text-decoration: underline;
}
#bottom{
    height: 100%;
    width: 100% ;
    background-color: red;
    background-image: url(https://imgs.search.brave.com/sUdxdjf_39d6Qv1LkQ7yItCXDhlhNKiZPOFSYza3Hig/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5ncS5jb20vcGhv/dG9zLzY1MWM1ZDM3/MzE1MGNjODUwN2Iz/ZDc3Zi80OjMvcGFz/cy9jb2F0c2xlZGUu/anBn);
background-size:cover;

}
